<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.menu.dao.RoleDao">

	<resultMap type="Role" id="BaseRole">
		<id column="role_id" property="roleId" jdbcType="INTEGER"/>
		<result column="role_name" property="roleName" jdbcType="VARCHAR"/>
		<collection property="users" javaType="User">
			<id column="user_id" property="userId" jdbcType="BIGINT"/>
			<result column="user_name" property="userName" jdbcType="VARCHAR"/>
			<result column="password" property="password" jdbcType="VARCHAR"/>
			<result column="is_admin" property="isAdmin" jdbcType="INTEGER"/>
		</collection>
		<collection property="resources" javaType="Resources">
			<id column="res_id" property="resId" jdbcType="INTEGER"/>
			<result column="res_name" property="resName" jdbcType="VARCHAR"/>
			<result column="res_href" property="resHref" jdbcType="VARCHAR"/>
			<result column="pid" property="pid" jdbcType="INTEGER"/>
			<result column="res_type" property="resType" jdbcType="INTEGER"/>
		</collection>
	</resultMap>

	<select id="getRoleIds" resultType="Integer">
		select role_id from role
	</select>

</mapper>